body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    color: #444;
}

.nova-tarefa-form {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#botaoAdicionar {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#botaoAdicionar:hover {
    background-color: #0056b3;
}

#listaDeTarefas {
    list-style-type: none;
    padding: 0;
}

.tarefa-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}

.tarefa-item input[type='checkbox'] {
    margin-right: 15px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.tarefa-item.concluida span {
    text-decoration: line-through;
    color: #aaa;
}